# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Data files
data/
!data/sounds/
!data/sounds/**

# Database files
*.db

# Build files
build/
dist/
*.spec

# Lokale Umgebung (nicht committen)
.env

# IDE / Editor
.vscode/
.idea/

# Testing
.pytest_cache/

# Distribution / packaging
*.egg-info/
*.egg

# OS files
.DS_Store
Thumbs.db
