# Byte-compiled / optimized / DLL files
__pycache__

# Code files
src.database.*
src.database.app_database.db
src/database/*
src/database/app_database.db

# Build files
poetry.lock
main.spec
build/*
dist/*